{{> /layout/header}}

<div class="container p-5">
        <!-- 수정삭제버튼 -->
        {{#board.isOwner}}
        <div class="d-flex justify-content-end">
            <a href="/board/{{id}}/updateForm" class="btn btn-warning me-1">수정</a>
            <form action="/board/{{id}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        </div>
        {{/board.isOwner}}

    <div class="d-flex justify-content-end">
        <b>작성자</b> :{{board.userName}} 
    </div>

    <!-- 게시글내용 -->
    <div>
        <h2><b>{{board.title}}</b></h2>
        <hr/>
        <div class="m-4 p-2">
        {{board.content}}
        </div>
    </div>

</div>

{{> /layout/footer}}